/* =========== Google Fonts ============ */
@import url('https://fonts.googleapis.com/css2?family=Museo+Sans:wght@300;500;700&display=swap');

/* =============== Globals ============== */
* {
  font-family: 'Museo Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1B242A;
  --white: #F3F2F2;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Estilos específicos para el título "Perfil" */
.profile-title {
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  /* Asegúrate de que el título tiene suficiente contraste y visibilidad */
  color: #000000; /* o cualquier color que combine con tu barra de navegación */
  font-size: 1.5rem; /* o el tamaño que se ajuste a tu diseño */
}


.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.search {
  position: relative;
  width: 500px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2rem;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  left: -10px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  max-height: 1.5em;
  width: auto;
}

.logo_secondary {
  max-height: 1.2em;
  margin-top: 20px;
  margin-left: 9.5px;

}



/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentMessages {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentMessages table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentMessages table tr:last-child {
  border-bottom: none;
}
.details .recentMessages table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentMessages table tr td {
  padding: 10px;
}
.details .recentMessages table tr td:last-child {
  text-align: end;
}
.details .recentMessages table tr td:nth-child(2) {
  text-align: end;
}
.details .recentMessages table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.availableCourses {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.availableCourses .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.availableCourses .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.availableCourses table tr td {
  padding: 12px 10px;
}
.availableCourses table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.availableCourses table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.availableCourses table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.availableCourses table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentMessages {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}


.profile-picture {
  /* Estilos para la imagen de perfil */
  display: block; /* o flex, grid, etc. */
  margin: auto; /* centra la imagen horizontalmente */
  width: 150px; /* o el tamaño que desees */
  height: 150px; /* para mantener la proporción */
  border-radius: 50%; /* si quieres una imagen redonda */
  overflow: hidden; /* para asegurarse de que la imagen no desborde si es redonda */
  position: relative; /* si quieres posicionar algo relativo a la imagen */
}

.boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.profile-picture img {
  width: 100%; /* para asegurarse de que la imagen cubra el contenedor .profile-picture */
  height: auto; /* para mantener la proporción de la imagen */
  display: block; /* elimina cualquier espacio extra debajo de la imagen */
}

.user-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.user-information .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
  width: 80%; /* O el ancho que prefieras */
  background-color: var(--gray);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s; /* Suaviza la transición del zoom y la sombra */
  /* Añade una sombra inicial ligera si deseas, por ejemplo: */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.user-information .info:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño del elemento */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Añade una sombra más pronunciada al pasar el cursor */
}
.user-information .info label {
  font-weight: bold;
  text-align: center;
}

.user-information .info p {
  text-align: center;
}

/* ====================== Cursos ========================== */
.cursos-container {
  width: 95%;
  height: 100%;
  background-image: url('../imgs/cursos.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-header {
  margin-left: 2.5%;
  font-size: 20px;
}

.carousel-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin-top: 30px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carousel-item {
  min-width: calc(100% / 3);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  background: #fff;
  text-decoration: none;
  color: #444;
  flex-shrink: 0;
}

.carousel-item img {
  max-height: 200px;
  width: auto;
  object-fit: cover;
  display: block;
}

.carousel-description {
  padding: 8px 16px;
  height: 80px;
  overflow: hidden;
}

.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

#prevBtn2 {
  left: 10px;
}

#nextBtn2 {
  right: 10px;
}

/* ====================== Juego ========================== */

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
}
.unity-container {
  width: 70%;
  height: 50%;
}

/* ====================== Admin ========================== */

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 280px;

}

.candado-container {
  width: 95%;
  height: 100%;
  background-image: url('../imgs/candado.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.white-container {
  font-size: 18px;
  color: #1B242A;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 10px;
  width: 95%; /* O el ancho que prefieras */
  background-color: var(--gray);
  border-radius: 1px;
  transition: transform 0.3s, box-shadow 0.3s; /* Suaviza la transición del zoom y la sombra */
  /* Añade una sombra inicial ligera si deseas, por ejemplo: */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Grid Navigation Styles */
.grid-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 45px;
  text-align: center;
}

.grid-item {
  background-color: #fff; /* Example button background color */
  color: #1B242A; /* Example button text color */
  padding: 40px;
  border: 1.5px solid #000000; /* Example button border style */
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.grid-item:hover {
  background-color: #1B242A; /* Example button hover color */
  color: #F3F2F2;
}

/* Statistics Grid 2x1 Styles */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-bottom: 40px;
  margin: 45px;
}

.stats-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.number {
  font-size: 3em;
  margin: 10px 0;
}

.circular-progress {
  position: relative;
  margin: 20px auto;
  width: 100px;
  height: 100px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  font-size: 0.25em;
}

.trend {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.icon-upward {
  color: #4caf50;
  margin-right: 5px;
}

/* Customize the stroke color to match your design */
.circle {
  stroke: #000;
}

/* Barra de busqyeda */
.highlighted {
  background-color: #ffdd4b;
}

/* ====================== Admin-GU ========================== */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  margin: 30px;
}

.card-user {
  background-color: #1B242A; 
  border-radius: 20px; 
  color: white;
  padding: 20px; 
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer; 
}

.card-user:hover {
  background-color: white;
  color: #1B242A;
} 

.card-user:hover ion-icon {
  color: #1B242A;
}
.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center; 
}

.card-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

.card-number {
  font-size: 2.5em; 
  font-weight: bold; 
}

.card-info {
  display: flex;
  align-items: center;
}

.card-info ion-icon {
  margin-left: 5px
}

ion-icon[name="information-circle-outline"] {
  color: #ffffff;
  font-size: 1.5em;
}

/* ====================== Admin-GU TABLE ========================== */

.table-container {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 30px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;
}

th, td {
  text-align: left;
  padding: 12px 20px;
}

td img {
  border-radius: 100%;
  height: 30px;
  width: auto;
}

thead th {
  background-color: #edf2f7;
  color: #4a5568;
  font-weight: bold;
}

tbody tr {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f7fafc;
}

.status-pending {
  color: #e53e3e;
}

.status-dispatch {
  color: #48bb78;
}

.status-completed {
  color: #3182ce;
}

td .status-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.action-icon {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 5px;
  background: url('settings-icon.svg') no-repeat center center;
  background-size: contain;
}



